* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Eurostile, Futura, Roboto;
    text-transform: uppercase;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* INDEX PAGE */
.index {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index > * {
    color:#242424;
}

.index > h1 {
    font-size: 48px;
    margin-bottom: 24px;
}
.index > h2 {
    margin-bottom: 48px;
    font-weight: normal;
}
.index > a {
    margin-bottom: 24px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 24px;
    padding: 16px;

    border-radius: 16px;
    transition: background-color 300ms ease, color 300ms ease;
}

.index > a:hover {
    background-color: #8080ff;
    color: #eee;
}

/* NAV */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 8px;
}

.nav-max {
    font-weight: bold;
}

.nav-links {
    display: flex;
}

nav a {
    color: #242424;

    font-size: 24px;
    padding: 8px;

    border-radius: 16px;
    transition: background-color 300ms ease, color 300ms ease;
}

nav a:hover {
    background-color: #8080ff;
    color: #eee;
}

.nav-links > a {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 8px;
}

/* PORTFOLIO */
.portfolio {
    min-height: 100vh;
}
.portfolio-wrapper {
    display: flex;
    flex-direction: row;

    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    height: 100%;
}

.sidebar {
    padding: 16px 0px 16px 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.checkbox {
    margin-bottom: 24px;
}

label {
    background-color: #eee;
    padding: 8px;
    border-radius: 16px;
    transition: background-color 300ms ease, color 300ms ease;
}

input {
    visibility: hidden;
}

input:checked + label {
    color: #eee;
    background-color: #8080ff;
}

.portfolios {
    padding: 16px;

    display: flex;
    flex-direction: column;
    

}

.portfolio-item {
    width: 100%;

    display: block;

    padding: 8px;
    border-radius: 8px;
    margin: 8px;

    background-color: #eee;
    color: #242424;
}

.portfolio-item > h4,p {
    font-family: 'Courier New', Courier, monospace;
}